<table>
  <tr>
    <th>Date</th>
    <th>Speaker</th>
    <th>Text</th>
  </tr>
<% _(deeds).each(function(item) { %>
  <tr class="deed new">
    <td class="performed_at">
      <%= epoch(item.get('performed_at')).toLocaleString() %>
    </td>
    <td class="speaker">
        <%= item.escape("speaker") %>
    </td>
    <td class="text">
        <%= item.escape("text") %>
    </td>
  </tr>
<% }); %>
</table>
