<form action='/deeds/search' method='get'> 
    <input id="q" name="q" type="text" /> 
    <input id="search" name="search" type="submit" value="Search" /> 
</form>
<div class="pagination" />
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Speaker</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<div class="pagination" />
