%form{:method => "postback"}
  %input{:type=>'text', :size=>40, :name=>'search', :id=>'Search'}
  %input{:type=>'submit', :value=>'Search'}


- unless @live
  = will_paginate(@deeds)


%table#deeds
  %tr
    %th Date
    %th Speaker
    %th Text
  %tr.deed
    %td.performed_at
    %td.speaker
    %td.text 


- unless @live
  = will_paginate(@deeds)


:javascript
  var deeds = #{deeds_json};
  var renderer = new DeedsRenderer('#deeds');
  renderer.render(deeds);


-#- if @live
-#  :javascript
-#    renderer.startPoll();

