!!!
%html
  %head
    %meta(name="csrf-param" content="")
    %meta(name="csrf-token" content="")
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery.tmpl', 'jq-util'
    =stylesheet_link_tag 'blueprint/screen.css', 'valhalla.css', 'pagination.css'
  %body
    =yield
