!!!
%html
  %head
    %meta(name="csrf-param" content="")
    %meta(name="csrf-token" content="")
    = include_stylesheets :workspace
    = include_javascripts :workspace
  %body
    #app
    :javascript
      $(function() {
        valhalla.init();
      });
